@import url("https://fonts.googleapis.com/css2?family=Dosis&display=swap");

//////////*////////////////

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

////////////////////HEADER///////////////////////

.header {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    // background-color: rgb(248, 225, 236);
    .logoDiv {
        img {
            width: 300px;
        }
    }
    .navBar {
        .emptyDiv,
        .language {
            width: 100px;
        }
        padding: 0 5% 20px;
        width: 100%;
        // border: 1px solid red;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .navBarLinks {
            width: 40%;
            display: flex;
            justify-content: space-around;
            list-style-type: none;
            a {
                text-decoration: none;
                color: black;
                font-family: "Dosis", sans-serif;
                font-weight: bold;
                font-size: 18px;
            }
            input {
                background-color: transparent;
                border: 1px solid rgb(201, 198, 198);
                width: 100px;
                padding-left: 5px;
            }
            input:focus {
                outline: 1px solid rgba(255, 0, 0, 0.233);
                border: 1px solid transparent;
            }
            .forSale {
                position: relative;
                .forSaleDropDown {
                    position: absolute;
                    z-index: 999;
                    // background-color: rgb(250, 243, 248);
                    background-color: rgba(255, 255, 255, 0.9);
                    list-style-type: none;
                    height: 0px;
                    opacity: 0;
                    width: 160px;
                    overflow-x: hidden;
                    overflow-y: hidden;
                    padding: 10px 10px 0 10px;
                    transition: 0.3s;
                    // box-shadow: inset 0px 0px 15px 10px #ffffff;
                    box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 0.9),
                        inset 0px 0px 10px 10px rgba(255, 255, 255, 0.9);
                    li {
                        margin-bottom: 5px;
                        font-size: 16px;
                        font-family: "Dosis", sans-serif;
                        border-bottom: 2px solid transparent;
                        transition: 0.3s;
                        cursor: pointer;
                        a {
                            text-decoration: none;
                            color: black;
                            font-size: 16px;
                        }
                    }
                    li:hover {
                        border-bottom: 2px solid black;
                        transition: 0.3s;
                    }
                }
            }
            .forSale:hover .forSaleDropDown {
                opacity: 1;
                height: 200px;
                transition: 0.5s;
            }
            .forRent {
                position: relative;
                .forRentDropDown {
                    position: absolute;
                    z-index: 999;
                    background-color: rgba(255, 255, 255, 0.9);
                    list-style-type: none;
                    height: 0px;
                    opacity: 0;
                    width: 160px;
                    overflow-x: hidden;
                    overflow-y: hidden;
                    padding: 10px 10px 0 10px;
                    transition: 0.3s;
                    // box-shadow: 0px 0px 15px 10px lightblue;
                    box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 0.9),
                        inset 0px 0px 10px 10px rgba(255, 255, 255, 0.9);
                    li {
                        margin-bottom: 5px;
                        font-size: 16px;
                        font-family: "Dosis", sans-serif;
                        border-bottom: 2px solid transparent;
                        transition: 0.3s;
                        cursor: pointer;
                        a {
                            text-decoration: none;
                            color: black;
                            font-size: 16px;
                        }
                    }
                    li:hover {
                        border-bottom: 2px solid black;
                        transition: 0.3s;
                    }
                }
            }
            .forRent:hover .forRentDropDown {
                opacity: 1;
                height: 200px;
                transition: 0.5s;
            }
        }
    }
}

//////////////////HEADER//////////////////

//////////////////////MAIN///////////////

.main {
    position: relative;
    //////////////////////MAINPRODUCTS///////////////

    .mainProducts {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        .products{
            min-width: 300px;
            padding: 25px;
            height: 600px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            img{
                width: 300px;
                object-fit: contain;
            }
            h2{
                width: 100%;
                text-align: center;
            }
            p{
                width: 100%;
                text-align: justify;
            }
        }
    }

    //////////////////////MAINPRODUCTS///////////////

    //////////////////////FILTER///////////////////
    .filter {
        z-index: 11;
        position: absolute;
        top: 0px;
        left: -300px;
        width: 300px;
        background-color: rgba(245, 239, 239, 0.836);
        padding: 20px;
        transition: 0.3s;
        overflow: auto;
        .openerLeft {
            #filterButton {
                margin-bottom: 20px;
                width: 100%;
                height: 30px;
                font-family: Arial, Helvetica, sans-serif;
                font-weight: bold;
                cursor: pointer;
                border: none;
                background-color: gray;
                color: white;
                border-radius: 15px;
            }
            #filterButton:hover {
                background-color: lighten(gray, 10%);
            }
            hr {
                margin: 15px 0 10px;
            }
            p {
                margin-bottom: 10px;
            }
            ul {
                list-style-type: none;
                li {
                    margin-left: 20px;
                    label {
                        margin-left: 10px;
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .filter:hover {
        background-color: rgba(245, 239, 239, 1);
        transition: 0.3s;
    }

    //////////////////////FILTER///////////////////

    ////////////////GRAYBLOCKER///////////////
    .grayBlocker {
        z-index: -10;
        position: absolute;
        opacity: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        // background: repeating-linear-gradient(
        //     90deg,
        //     rgba(0, 0, 0, 0.5) 0px,
        //     rgba(110, 110, 110, 0.5) 0.1px,
        //     rgba(0, 0, 0, 0.5) 0.2px
        // );
        background-color: rgba(128, 128, 128, 0.532);
        transition: 0.3s;
    }
    .filter:hover ~ .grayBlocker {
        z-index: 10;
        opacity: 1;
        transition: 0.3s;
    }

    ////////////////GRAYBLOCKER///////////////
}

//////////////////////MAIN///////////////
